.success {
  background: green;
  transition: background 2s;
}

.queued {
  transition: text-align 2s, align-content 2s;
  text-align: right;
  align-content: flex-end;
}
.in_progress {
  transition: text-align 2s, align-content 2s;
  text-align: center;
  align-content: center;
}
.completed {
  transition: text-align 2s, align-content 2s;
  text-align: left;
  align-content: flex-start;
}

.workflow .step {
  opacity: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: position 0.5s, opacity 0.5s, transform 0.5s;
}
